In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("../Clean_Data/Data_ByDrop.csv")

In [5]:
df.Colour.value_counts()

1     1929
12    1669
4     1147
14    1062
5      898
3      785
11     726
7      547
2      313
13     299
6      138
10      78
17      47
8       46
15      23
16      20
9       15
19      14
20       1
21       1
18       1
22       1
Name: Colour, dtype: int64

#  Simply Creates a Training and testing dataset

In [6]:
df

,Depth,Height,Width,Shape,Weight,Clarity,Colour,Cut,Polish,Symmetry,Fluorescence,Price
0,5.05,4.35,2.94,60,0.55,40.0,1,40.0,40.0,30,10,1378.65
1,4.60,4.31,2.92,60,0.50,90.0,2,40.0,40.0,30,20,1379.74
2,4.71,4.35,2.94,60,0.51,60.0,3,40.0,40.0,30,10,1380.19
3,4.91,4.26,2.88,60,0.50,60.0,3,40.0,40.0,30,10,1380.61
4,4.70,4.46,3.01,60,0.53,50.0,4,40.0,30.0,30,10,1383.13
...,...,...,...,...,...,...,...,...,...,...,...,...
9755,4.30,4.33,2.68,90,0.30,40.0,14,40.0,40.0,40,10,932.78
9756,4.29,4.31,2.68,90,0.30,60.0,11,40.0,40.0,40,20,932.78
9757,4.27,4.30,2.61,90,0.29,50.0,12,40.0,40.0,30,10,932.98
9758,4.19,4.23,2.63,90,0.29,70.0,12,20.0,30.0,10,10,933.54
9759,3.87,3.89,2.34,90,0.21,100.0,1,40.0,40.0,40,10,933.86

In [7]:
import joblib as jb

In [9]:
data_dct=jb.load("../Maps.pkl")

In [10]:
data_dct.keys()

dict_keys(['Clarity', 'Goodness', 'Fluorescence', 'Color', 'Shapes', 'Goodness_short'])

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
X= df.drop("Price",axis=1).values
y=df.Price.values

In [14]:
df.iloc[:,3]

0       60
1       60
2       60
3       60
4       60
        ..
9755    90
9756    90
9757    90
9758    90
9759    90
Name: Shape, Length: 9760, dtype: int64

In [15]:
x_train,x_test,y_train,y_test= train_test_split(X,y,stratify=X[:,3],random_state=20)

In [16]:
x_train

array([[ 7.06,  6.74,  4.25, ..., 30.  , 30.  , 10.  ],
       [ 4.96,  5.02,  3.17, ..., 30.  , 20.  , 10.  ],
       [ 4.72,  4.42,  2.98, ..., 40.  , 30.  , 10.  ],
       ...,
       [ 8.54,  4.28,  2.49, ..., 30.  , 30.  , 10.  ],
       [ 3.95,  3.97,  2.39, ..., 40.  , 40.  , 10.  ],
       [ 7.38,  4.43,  2.59, ..., 30.  , 30.  , 10.  ]])

In [17]:
df_train=pd.DataFrame(x_train, columns = ['Depth', 'Height', 'Width', 'Weight', 'Clarity', 'Cut', 'Polish',
       'Symmetry', 'Fluorescence','Colour', 'Shape'])
df_train

,Depth,Height,Width,Weight,Clarity,Cut,Polish,Symmetry,Fluorescence,Colour,Shape
0,7.06,6.74,4.25,60.0,1.58,70.0,5.0,30.0,30.0,30.0,10.0
1,4.96,5.02,3.17,90.0,0.50,50.0,1.0,30.0,30.0,20.0,10.0
2,4.72,4.42,2.98,60.0,0.52,60.0,13.0,40.0,40.0,30.0,10.0
3,3.82,3.85,2.34,90.0,0.21,90.0,1.0,40.0,40.0,40.0,10.0
4,5.09,5.13,3.18,90.0,0.51,40.0,14.0,40.0,40.0,40.0,10.0
...,...,...,...,...,...,...,...,...,...,...,...
7315,4.05,4.71,2.76,10.0,0.31,40.0,12.0,40.0,20.0,30.0,10.0
7316,4.79,3.49,2.49,30.0,0.40,70.0,1.0,30.0,40.0,30.0,10.0
7317,8.54,4.28,2.49,20.0,0.53,60.0,12.0,40.0,30.0,30.0,10.0
7318,3.95,3.97,2.39,90.0,0.23,70.0,4.0,40.0,40.0,40.0,10.0
7319,7.38,4.43,2.59,50.0,0.50,60.0,12.0,40.0,30.0,30.0,10.0

In [19]:
df_train["Price"]=y_train

In [20]:
df_train

,Depth,Height,Width,Weight,Clarity,Cut,Polish,Symmetry,Fluorescence,Colour,Shape,Price
0,7.06,6.74,4.25,60.0,1.58,70.0,5.0,30.0,30.0,30.0,10.0,4132.68
1,4.96,5.02,3.17,90.0,0.50,50.0,1.0,30.0,30.0,20.0,10.0,1975.61
2,4.72,4.42,2.98,60.0,0.52,60.0,13.0,40.0,40.0,30.0,10.0,895.17
3,3.82,3.85,2.34,90.0,0.21,90.0,1.0,40.0,40.0,40.0,10.0,862.85
4,5.09,5.13,3.18,90.0,0.51,40.0,14.0,40.0,40.0,40.0,10.0,2180.05
...,...,...,...,...,...,...,...,...,...,...,...,...
7315,4.05,4.71,2.76,10.0,0.31,40.0,12.0,40.0,20.0,30.0,10.0,848.80
7316,4.79,3.49,2.49,30.0,0.40,70.0,1.0,30.0,40.0,30.0,10.0,1263.58
7317,8.54,4.28,2.49,20.0,0.53,60.0,12.0,40.0,30.0,30.0,10.0,1999.88
7318,3.95,3.97,2.39,90.0,0.23,70.0,4.0,40.0,40.0,40.0,10.0,920.22
7319,7.38,4.43,2.59,50.0,0.50,60.0,12.0,40.0,30.0,30.0,10.0,2048.36

In [24]:
df_test= pd.DataFrame(x_test,columns=['Depth', 'Height', 'Width', 'Weight', 'Clarity', 'Cut', 'Polish',
       'Symmetry', 'Fluorescence','Colour', 'Shape'])
df_test["Price"]=y_test
df_test

,Depth,Height,Width,Weight,Clarity,Cut,Polish,Symmetry,Fluorescence,Colour,Shape,Price
0,4.27,4.30,2.68,90.0,0.30,50.0,13.0,30.0,30.0,30.0,60.0,693.42
1,5.59,5.42,3.83,60.0,1.00,40.0,3.0,20.0,30.0,30.0,10.0,3086.33
2,5.34,3.54,2.19,30.0,0.39,50.0,12.0,30.0,40.0,20.0,40.0,878.50
3,3.73,3.68,2.64,80.0,0.30,90.0,4.0,40.0,40.0,30.0,10.0,1069.67
4,4.19,4.14,2.87,80.0,0.41,70.0,1.0,40.0,40.0,30.0,10.0,1447.35
...,...,...,...,...,...,...,...,...,...,...,...,...
2435,4.92,4.97,3.19,90.0,0.50,90.0,11.0,30.0,40.0,30.0,10.0,2020.46
2436,4.21,4.24,2.65,90.0,0.30,40.0,12.0,30.0,40.0,40.0,10.0,897.81
2437,4.94,5.01,3.15,90.0,0.50,60.0,1.0,30.0,40.0,20.0,40.0,2040.84
2438,6.66,6.18,4.31,60.0,1.50,40.0,7.0,30.0,40.0,40.0,60.0,3441.31
2439,6.31,6.06,4.16,60.0,1.50,40.0,8.0,40.0,40.0,30.0,10.0,3199.56

In [21]:
df_train

,Depth,Height,Width,Weight,Clarity,Cut,Polish,Symmetry,Fluorescence,Colour,Shape,Price
0,7.06,6.74,4.25,60.0,1.58,70.0,5.0,30.0,30.0,30.0,10.0,4132.68
1,4.96,5.02,3.17,90.0,0.50,50.0,1.0,30.0,30.0,20.0,10.0,1975.61
2,4.72,4.42,2.98,60.0,0.52,60.0,13.0,40.0,40.0,30.0,10.0,895.17
3,3.82,3.85,2.34,90.0,0.21,90.0,1.0,40.0,40.0,40.0,10.0,862.85
4,5.09,5.13,3.18,90.0,0.51,40.0,14.0,40.0,40.0,40.0,10.0,2180.05
...,...,...,...,...,...,...,...,...,...,...,...,...
7315,4.05,4.71,2.76,10.0,0.31,40.0,12.0,40.0,20.0,30.0,10.0,848.80
7316,4.79,3.49,2.49,30.0,0.40,70.0,1.0,30.0,40.0,30.0,10.0,1263.58
7317,8.54,4.28,2.49,20.0,0.53,60.0,12.0,40.0,30.0,30.0,10.0,1999.88
7318,3.95,3.97,2.39,90.0,0.23,70.0,4.0,40.0,40.0,40.0,10.0,920.22
7319,7.38,4.43,2.59,50.0,0.50,60.0,12.0,40.0,30.0,30.0,10.0,2048.36

In [131]:
df_test

,Carat,Height,Width,Weight,Clarity,Cut,Polish,Symmetry,Fluorescence,Colour,Shape,Price
0,3.98,4.0,2.42,0.23,80.0,40.0,40.0,40.0,10.0,G,ROUND,905.47
1,3.9,3.92,2.43,0.22,80.0,40.0,40.0,40.0,10.0,E,ROUND,915.02
2,6.16,5.03,3.45,1.01,40.0,40.0,40.0,30.0,10.0,M,RADIANT,1640.54
3,4.9,4.95,3.2,0.5,40.0,30.0,40.0,30.0,10.0,E,ROUND,1968.17
4,3.95,3.96,2.4,0.23,70.0,40.0,40.0,40.0,10.0,E,ROUND,909.74
...,...,...,...,...,...,...,...,...,...,...,...,...
2443,4.06,4.02,2.86,0.4,60.0,40.0,30.0,30.0,10.0,F,PRINCESS,1347.34
2444,6.23,4.11,2.8,0.71,40.0,40.0,40.0,40.0,20.0,L,EMERALD,897.22
2445,5.3,5.33,3.34,0.58,60.0,40.0,40.0,40.0,20.0,I,ROUND,2080.80
2446,5.02,4.23,2.88,0.52,50.0,40.0,40.0,30.0,10.0,L,CUSHION,869.06
2447,7.33,5.47,3.38,0.9,50.0,40.0,40.0,30.0,20.0,L,OVAL,2240.77

In [132]:
import os
os.mkdir("../Final Dataset")

In [25]:
df_train.Colour.value_counts()

30.0    3262
40.0    2727
20.0    1253
10.0      78
Name: Colour, dtype: int64

In [26]:
df_test.Colour.value_counts()

30.0    1073
40.0     908
20.0     437
10.0      22
Name: Colour, dtype: int64

In [27]:
df_train

,Depth,Height,Width,Weight,Clarity,Cut,Polish,Symmetry,Fluorescence,Colour,Shape,Price
0,7.06,6.74,4.25,60.0,1.58,70.0,5.0,30.0,30.0,30.0,10.0,4132.68
1,4.96,5.02,3.17,90.0,0.50,50.0,1.0,30.0,30.0,20.0,10.0,1975.61
2,4.72,4.42,2.98,60.0,0.52,60.0,13.0,40.0,40.0,30.0,10.0,895.17
3,3.82,3.85,2.34,90.0,0.21,90.0,1.0,40.0,40.0,40.0,10.0,862.85
4,5.09,5.13,3.18,90.0,0.51,40.0,14.0,40.0,40.0,40.0,10.0,2180.05
...,...,...,...,...,...,...,...,...,...,...,...,...
7315,4.05,4.71,2.76,10.0,0.31,40.0,12.0,40.0,20.0,30.0,10.0,848.80
7316,4.79,3.49,2.49,30.0,0.40,70.0,1.0,30.0,40.0,30.0,10.0,1263.58
7317,8.54,4.28,2.49,20.0,0.53,60.0,12.0,40.0,30.0,30.0,10.0,1999.88
7318,3.95,3.97,2.39,90.0,0.23,70.0,4.0,40.0,40.0,40.0,10.0,920.22
7319,7.38,4.43,2.59,50.0,0.50,60.0,12.0,40.0,30.0,30.0,10.0,2048.36

In [141]:
df_test

,Carat,Height,Width,Weight,Clarity,Cut,Polish,Symmetry,Fluorescence,Colour,Shape,Price
0,3.98,4.0,2.42,0.23,80.0,40.0,40.0,40.0,10.0,14,ROUND,905.47
1,3.9,3.92,2.43,0.22,80.0,40.0,40.0,40.0,10.0,1,ROUND,915.02
2,6.16,5.03,3.45,1.01,40.0,40.0,40.0,30.0,10.0,6,RADIANT,1640.54
3,4.9,4.95,3.2,0.5,40.0,30.0,40.0,30.0,10.0,1,ROUND,1968.17
4,3.95,3.96,2.4,0.23,70.0,40.0,40.0,40.0,10.0,1,ROUND,909.74
...,...,...,...,...,...,...,...,...,...,...,...,...
2443,4.06,4.02,2.86,0.4,60.0,40.0,30.0,30.0,10.0,12,PRINCESS,1347.34
2444,6.23,4.11,2.8,0.71,40.0,40.0,40.0,40.0,20.0,13,EMERALD,897.22
2445,5.3,5.33,3.34,0.58,60.0,40.0,40.0,40.0,20.0,5,ROUND,2080.80
2446,5.02,4.23,2.88,0.52,50.0,40.0,40.0,30.0,10.0,13,CUSHION,869.06
2447,7.33,5.47,3.38,0.9,50.0,40.0,40.0,30.0,20.0,13,OVAL,2240.77

In [28]:
df_test.isna().sum()

Depth           0
Height          0
Width           0
Weight          0
Clarity         0
Cut             0
Polish          0
Symmetry        6
Fluorescence    2
Colour          0
Shape           0
Price           0
dtype: int64

In [29]:
df_test

,Depth,Height,Width,Weight,Clarity,Cut,Polish,Symmetry,Fluorescence,Colour,Shape,Price
0,4.27,4.30,2.68,90.0,0.30,50.0,13.0,30.0,30.0,30.0,60.0,693.42
1,5.59,5.42,3.83,60.0,1.00,40.0,3.0,20.0,30.0,30.0,10.0,3086.33
2,5.34,3.54,2.19,30.0,0.39,50.0,12.0,30.0,40.0,20.0,40.0,878.50
3,3.73,3.68,2.64,80.0,0.30,90.0,4.0,40.0,40.0,30.0,10.0,1069.67
4,4.19,4.14,2.87,80.0,0.41,70.0,1.0,40.0,40.0,30.0,10.0,1447.35
...,...,...,...,...,...,...,...,...,...,...,...,...
2435,4.92,4.97,3.19,90.0,0.50,90.0,11.0,30.0,40.0,30.0,10.0,2020.46
2436,4.21,4.24,2.65,90.0,0.30,40.0,12.0,30.0,40.0,40.0,10.0,897.81
2437,4.94,5.01,3.15,90.0,0.50,60.0,1.0,30.0,40.0,20.0,40.0,2040.84
2438,6.66,6.18,4.31,60.0,1.50,40.0,7.0,30.0,40.0,40.0,60.0,3441.31
2439,6.31,6.06,4.16,60.0,1.50,40.0,8.0,40.0,40.0,30.0,10.0,3199.56

In [31]:
df_train.dtypes

Depth           float64
Height          float64
Width           float64
Weight          float64
Clarity         float64
Cut             float64
Polish          float64
Symmetry        float64
Fluorescence    float64
Colour          float64
Shape           float64
Price           float64
dtype: object

In [32]:
df_test.dtypes

Depth           float64
Height          float64
Width           float64
Weight          float64
Clarity         float64
Cut             float64
Polish          float64
Symmetry        float64
Fluorescence    float64
Colour          float64
Shape           float64
Price           float64
dtype: object

In [33]:
df_train.to_csv("../Final Dataset/Train.csv")
df_test.to_csv("../Final Dataset/Test.csv")